html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Contenedor_Imagen {
    
    text-align: center;
}

h1{
    text-align:center;

}

/*primera parte*/

.contenedor-principal {
    margin-top: 20px;
    text-align:justify;
    
}

.contenedor-principal p {
    margin-right:17px;
    
}

.contenedor-principal img {
    width:800px;
}


@media (max-width: 760px) {
    .contenedor-principal {
        flex-wrap:wrap;
    }
}