html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Contenedor_Imagen {
    
    text-align: center;
}

img {
    width: 1000px;
    box-shadow: 5px 10px 10px 10px #00ff90;
}
h1{
    text-align:center;

}