@{
    ViewData["Title"] = "Home";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Proyecto practica de CRUD</h1>
        <p class="lead">En este proyecto podras practicar y mejorar tus habilidades de programador</p>
        <div class="container d-flex contenedor-principal">
        <p class="lead">El objetivo de este proyecto sera aplicarle el CRUD a todas las tablas y debes en cuando mejorar
            la parte front-end para llegar a hacer programadores full stack <br /><b>Que esperas ???</b><br /> No es tan complicado
        </p>
        <img src="~/Imagenes/gatito.jpeg" />
        </div>
    </div>
</section>



