@{
    ViewData["Title"] = "Cliente";
}

@model List<AppWebProductos.Models.Cliente>

<a class="btn btn-secondary" asp-area="" asp-controller="Cliente" asp-action="AgregarCliente">Agregar Cliente</a>
<h1 class="display-4">Tabla de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var clientes in Model)
        {
        <tr>
            <td>@clientes.Id_Cliente</td>
            <td>@clientes.Nombre</td>
            <td>@clientes.Direccion</td>
            <td>@clientes.Telefono</td>
        </tr>
        }
    </tbody>
 </table>